:root {
  /* root */
  --text-color: #eef;
  --link-text-color: #5070f3;

  /* components */
  --header-bg-color: #0000;
  --footer-border-color: #444;
  --footer-bg-color: #20202d;
}

html {
  color: var(--text-color);
  background-color: #000012;
  font-family: var(--font-noto-sans-jp), sans-serif;
  font-size: 16px;
}
