<footer>
  <p>&copy; 2026 KOTO28</p>
</footer>

<style>
  footer {
    width: 100%;
    border-top: 2px solid var(--footer-border-color);
    padding: 12px 0;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--text-color);
  }
</style>
