---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" fullWidth>
  <h1>404</h1>
  <p>Page not found</p>
</Layout>

<style>
  h1 {
    margin: 24px auto;
    font-size: 4rem;
    text-align: center;
  }
  p {
    margin: 12px auto;
    font-size: 1.5rem;
    text-align: center;
  }
</style>
