---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1>KOTO28とは</h1>
  <p>趣味でWebページやブラウザ拡張機能などを作っています。</p>
  <h2>使用言語</h2>
  JavaScript/TypeScript, Pythonを主に使用しています。
</Layout>
