---
import Layout from "../layouts/Layout.astro";
import SocialLinksList from "../components/home/SocialLinksList.astro";
---

<Layout title="">
  <h1>KOTO28</h1>
  <p>Software Developer</p>
  <SocialLinksList />
</Layout>
